<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="jumbotron p-3 mb-2 bg-light text-dark">
            <form method="POST" th:object="${pessoa}"
                  th:action="@{/pessoas}">
                <div class="p-3 mb-2 bg-dark text-white">
                    <h4>Editar Pessoa</h4>
                </div>
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input th:field="*{nome}" type="text" class="form-control" id="name"></input>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input th:field="*{email}" type="email" class="form-control" id="email"></input>
                </div>
                <div class="form-group">
                    <label for="function">Função</label>
                    <input th:field="*{funcao}" type="text" class="form-control" id="function"></input>
                </div>
                <div class="form-group col-md-4">
                    <label for="task">Tarefa</label>
                    <select th:field="*{tarefa}" id="task" class="form-control">
                        <option selected="selected" value="">
                            Escolha...
                        </option>
                        <option th:each="tarefa : ${tarefas}"
                                th:value="${tarefa.id}" th:text="${tarefa.nome}">
                        </option>
                    </select>
                </div>
                <input type="hidden" id="group" th:field="*{grupo}" />
                <div class="row p-3 mb-2 bg-dark text-white">
                    <div class="col-2">
                        <a th:href="@{/pessoas}" class="btn btn-danger">
                            Cancelar
                        </a>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>
