<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${tarefa.nome}"></h5>
                <div class="row">
                    <div class="col-md-2">Grupo:</div>
                    <div class="col-md-2">
                        <p th:text="${tarefa.grupo}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Responsável:</div>
                    <div class="col-md-2">
                        <p th:text="${tarefa.pessoa}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Data de Início:</div>
                    <div class="col-md-2">
                        <p th:text="${#temporals.format(tarefa.dataInicio,'dd-MM-yyyy')}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Data de Fim:</div>
                    <div class="col-md-2">
                        <p th:text="${#temporals.format(tarefa.dataFim,'dd-MM-yyyy')}"></p>
                    </div>
                </div>
                <p th:text="${tarefa.descricao}"></p>
            </div>
            <div class="card-body">
                <a th:href="@{/grupos/}+${grupo.id}+@{/tarefas}" class="btn btn-primary btn-sm active">retornar</a>
                <a href="" class="btn btn-danger btn-sm active" data-toggle="modal"
                    data-target="#confirmaExclusaoModal" data-placement="top"
		    th:attr="data-id=${tarefa.id}, data-name=${tarefa.nome}, data-model='tarefa'">
                    apagar
                </a>
                <a th:href="@{/grupos/}+${grupo.id}+@{/tarefas/update/}+${tarefa.id}" 
                    class="btn btn-warning btn-sm text-white active">
                    atualizar
                </a>
            </div>
        </div>
        <div  th:replace="fragments/exclusao :: exclusao"></div>
    </div>
</html>