<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="panel panel-default" style="margin: 10px">
            <div class="panel-heading">
                <h1 class="panel-title">Lista de Tarefas</h1>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tarefa : ${tarefas}">
                            <td>
                                <a th:href="@{/grupos/}+${grupo.id}+@{/tarefas/show/}+${tarefa.id}">
                                    <span th:text="${tarefa.nome}"></span>
                                </a>
                            </td>
                            <td>
                                <a href="" class="btn btn-danger btn-sm active"
                                   data-toggle="modal" data-target="#confirmaExclusaoModal"
                                   data-placement="top"
                                   th:attr="data-grupo=${grupo.id}, data-id=${tarefa.id}, data-name=${tarefa.nome}, data-model='tarefa'">
                                    apagar
                                </a>
                                <a th:href="@{/grupos/}+${grupo.id}+@{/tarefas/update/}+${tarefa.id}" 
                                    class="btn btn-warning btn-sm text-white active">
                                    atualizar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a th:href="@{/grupos/show/}+${grupo.id}" class="btn btn-primary btn-sm active">
                Retornar
            </a>
            <a href="" class="btn btn-success btn-sm active" data-toggle="modal"
                    data-target="#formTarefa" data-placement="top">
                    Novo
            </a>
            <div th:replace="fragments/form-tarefa :: form"></div>
            <div  th:replace="fragments/exclusao :: exclusao"></div>
        </div>
    </div>
</html>