<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <div class="jumbotron p-3 mb-2 bg-light text-dark">
            <form method="POST" th:object="${tarefa}"
                  th:action="@{/grupos/}+${grupo.id}+@{/tarefas}">
                <div class="p-3 mb-2 bg-dark text-white">
                    <h4>Editar Tarefa</h4>
                </div>
                <input type="hidden" id="id" th:field="*{id}" />
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input th:field="*{nome}" type="text" class="form-control" id="name"></input>
                </div>
                <div class="form-group">
                    <label for="init-date">Data de Início</label>
                    <input th:field="*{dataInicio}" type="date" class="form-control" id="init-date"></input>
                </div>
                <div class="form-group">
                    <label for="end-date">Data de Fim</label>
                    <input th:field="*{dataFim}" type="date" class="form-control" id="end-date"></input>
                </div>
                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea th:field="*{descricao}" class="form-control" id="description" rows="3"></textarea>
                </div>
                <input type="hidden" id="group" th:field="*{grupo}" />
                <input type="hidden" id="person" th:field="*{pessoa}" />
                <div class="row p-3 mb-2 bg-dark text-white">
                    <div class="col-2">
                        <a th:href="@{/grupos/}+${tarefa.grupo.id}+@{/tarefas}" class="btn btn-danger">
                            Cancelar
                        </a>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>
