<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <br></br>
        <h1 class="text-justify">Contatos</h1>
        <br></br>
        <div class="container text-center">
                <h2 class="text-left">Matheus Machado de Almeida</h2>
                <p class="text-justify">
                    Nickname: matheusma37
                </p>
                <p class="text-justify">
                    <label for="github-link">
                        Github:
                    </label>
                    <a href="https://github.com/matheusma37" target="blank"
                       id="github-link" title="link para o github de matheusma37" >
                        matheusma37
                    </a>
                </p>
                <p class="text-justify">
                    <label for="email">
                        Email:
                    </label>
                    <span id="email">
                        mtsma37@gmail.com
                    </span>
                </p>
                <p class="text-justify">
                    Fique à vontade para criar seus grupos e sua tarefas.
                </p>
            <div class="row">
                <div class="col-8 text-right">
                    <p>
                        Ass.: matheusma37
                    </p>
                </div>
            </div>
        </div>
    </div>
</html>
