<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-padrao">

    <div layout:fragment="conteudo">
        <br></br>
        <h1 class="text-justify">Bem vindo a sua lista de trabalhos!</h1>
        <br></br>
        <div class="container text-center">
            <div class="row">
                <p class="text-justify">
                    O site permite que pessoas sejam adicionadas a grupos e que 
                    tarefas sejam criadas para esses grupos. As pessoas podem 
                    gerenciar essas tarefas: criar, modificar, buscar e escluir.
                </p>
            </div>
            <div class="row">
                <p class="text-justify">
                    Fique à vontade para criar seus grupos e sua tarefas.
                </p>
            </div>
            <div class="row">
                <div class="col-8 text-right">
                    <p>
                        Ass.: matheusma37
                    </p>
                </div>
            </div>
        </div>
    </div>
</html>
